h1 {
    color: #729b6c;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #405543;
}
header {
    background-color: #d8d3c5;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #d8d3c5;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
article {
    padding: 20px;
    margin: 20px;
    background-color: #d8d3c5;

}
h2 {
    color: #5e2050;
}
p {
    color: #1c1a3b;
}